<footer class="site-footer">
    <div class="footer-content">
        <span class="footer-brand">SymfonyPress</span>

        <p class="footer-text">
            © {{ "now"|date("Y") }} SymfonyPress — Tous droits réservés
        </p>

        <nav class="footer-nav">
            <a href="{{path('app_home')}}">Accueil</a>
            <a href="{{path('app_category')}}">Catégories</a>
            {% if app.user %}
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}">Connexion</a>
            {% endif %}
        </nav>
    </div>
</footer>
